<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.QL_QUANCAFEConnectionString"
            connectionString="Data Source=HT-20220824SFHY\SQLEXPRESS;Initial Catalog=QL_QUANCAFE;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>